.founder-section{
    display: flex;
    margin-top: 80px;
    
}
.founder-section{
    position: relative;
    justify-content: space-between;
}
.founder-image img{
    height: 700px;
    width: 800px;
}

.founder-details{
    position: absolute;
    width: 40%;
    right: 13%;
    padding: 30px;
    top: 10%;
    text-align: left;
    background: linear-gradient(180deg, #ECD8FF 0%, #FFFFFF 100%) ;
}
.frame-sticky{
    text-align: end !important;
    padding: 10px;
}
.wave-text{
    display: inline-block;
    margin-right: -82px;
    margin-top: 80px;
    transform: rotate(90deg);
    background-color: #DFFF61;
    padding: 6px;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 130px;
    
}
.i{
    animation: animate 1s ease-in-out infinite;
}
 @keyframes animate{
     0%{
        transform: translateX(0px);
     }
     20%{
        transform: translateX(-20px);
     }
     40%, 100%{
        transform: translateX(0px);
     }
 }

@media only screen and (max-width: 600px){
    .founder-section{
        flex-direction: column;
    }
    .founder-image img{
        height: 400px;
        width: 400px;
    }
    .founder-details{
        position: relative;
        width: 100%;
        text-align: center;
        right: 0px;
    } 
    .wave-text{
        display: none;
    }
    .frame-sticky{
        display: none;
    }
}

@media only screen and (min-width: 600px ) and (max-width: 1024px){
    .founder-section{
        flex-direction: column;
    }
    .founder-image img{
        height: 600px;
        width: 600px;
    }
    .founder-details{
        position: relative;
        width: 100%;
        text-align: center;
        right: 0px;
    }
}